.root {
	-fx-darkbrown: #1f1009;
	-fx-lightbrown: #5d4022;
	-fx-darkturquoise: #152826;
	-fx-lightturquoise: #0b4d3b;
	-fx-darkaqua: #105930;
	-fx-lightaqua: #37872a;
}

.tab-pane {
	-fx-font-family: "Consolas";
	-fx-font-size: 18px;
	-fx-max-width: 64.7em;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-insets: 0 1 1 0, 1 2 1 1, 2 3 1 2;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-padding: 0.083333em 0.5em 0.0769em 0.5em;
}

.grid-pane {
	-fx-padding: 1em;
	-fx-hgap: 1em;
	-fx-vgap: 1em;
}

.table-view {
	-fx-resize-policy: CONSTRAINED_RESIZE_POLICY;
	-fx-editable: false;
}

.sptableview {
	-fx-resize-policy: UNCONSTRAINED_RESIZE_POLICY;
	-fx-wtf: silly;
}

.button {
	-fx-min-width: 20em;
	-fx-max-width: 20em;
    -fx-background-color: 
        derive(#ececec, 50%),
        rgba(0,0,0,0.05),
        linear-gradient(-fx-lightturquoise, -fx-darkturquoise),
        linear-gradient(-fx-lightturquoise, -fx-darkturquoise),
        linear-gradient(-fx-lightturquoise, -fx-darkturquoise);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Consolas";
    -fx-font-size: 18px;
    -fx-text-fill: -fx-lightaqua;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
.button:hover {
    -fx-background-color: 
        derive(#ececec, 50%),
        rgba(0,0,0,0.05),
        linear-gradient(-fx-lightturquoise, -fx-darkturquoise),
        linear-gradient(-fx-lightturquoise, -fx-darkturquoise),
        linear-gradient(-fx-darkturquoise, -fx-lightturquoise);
}
.button:pressed {
    -fx-padding: 15 30 15 30;
    -fx-background-insets: 0,9 9 8 9,9,0,11;
}
.button > .text {
    -fx-color: -fx-lightaqua;
}

.logo-text {
	-fx-font-family: 'Anurati';
	-fx-font-size: 6em;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-text-alignment: left;
	-fx-text-origin: bottom;
	-fx-fill: -fx-darkturquoise;
    -fx-stroke-width: 3;
	-fx-stroke: -fx-lightaqua;
}
