GridPane {
	-fx-padding: 10px;
	-fx-alignment: center;
	-fx-hgap: 10px;
	-fx-vgap: 10px;
}

Label {
    -fx-font-family: "Consolas";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
	-fx-alignment: baseline-left;
}	

TabPane {
	-fx-border-style: solid inside;
	-fx-border-color: #d6d9df;
	-fx-border-width: 2;
	-fx-border-insets: 5;
	-fx-border-radius: 5;
}

.tab {
    -fx-font-family: "Consolas";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
	-fx-alignment: top-left;
}

.table-view {
	-fx-max-width: 65em;
	-fx-resize-policy: CONSTRAINED_RESIZE_POLICY;
	-fx-editable: false;
}

.column-header,
.table-view .column-header,
.table-view .column-header .label,
.table-view .column-header .filler,
.table-view .column-header-background .filler,
.table-view .column-header-background .background {   
    -fx-font-family: "Consolas";
    -fx-font-size: 1em;
	-fx-font-style: normal;
	-fx-font-weight: normal;
    -fx-text-fill: #311c09;
    -fx-background-color: white;
    -fx-stroke: transparent;
    -fx-size: 2.5em;
    -fx-alignment: CENTER;    
    -fx-text-alignment: center;
}

.table-row-cell:filled:hover {
    -fx-size: 2.5em;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}

.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 2.5em;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}

.cell,
.table-cell,
.table-caption,
.table-column,
.table-row-cell:empty,
.table-row-cell:filled,
.table-view .table-column {
	-fx-width: 2.5em;
	-fx-alignment: CENTER; 
    -fx-text-alignment: CENTER;
}

.text-field:readonly {
	-fx-max-width: 250px;
	-fx-pref-column-count: 25;
    -fx-font-family: "Consolas";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
	-fx-alignment: baseline-right;
}

.text-area:readonly {
	-fx-max-height: 240;
	-fx-pref-column-count: 80;
	-fx-pref-row-count: 20;
	-fx-wrap-text: false;
	-fx-display-caret: false;
    -fx-font-family: "Consolas";
    -fx-font-size: 14px;
}

Button {
	-fx-min-width:250;
    -fx-background-color: 
        #ecebe9,
        rgba(0,0,0,0.05),
        linear-gradient(#dcca8a, #c7a740),
        linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
        linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Consolas";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
.button:hover {
    -fx-background-color: 
        #ecebe9,
        rgba(0,0,0,0.05),
        linear-gradient(#dcca8a, #c7a740),
        linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
        linear-gradient(#e6c34d, #f6ebbe);
}
.button:pressed {
    -fx-padding: 15 30 15 30;
    -fx-background-insets: 0,9 9 8 9,9,0,11;
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}

.logo-text {
	-fx-font-family: 'Anurati';
	-fx-font-size: 72px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-text-alignment: left;
	-fx-text-origin: bottom;
	-fx-fill: #311c09;
    -fx-stroke-width: 3;
	-fx-stroke: #e6c34d;
}
